/* Google Font 'Poppins , Robato' */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}
header{
    overflow: hidden;
    margin-top: 20px;
}
.header_bx{
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 20px;
}
.header_bx .logo{
    text-decoration: none;
    margin-left: 25px;
    color: #000000;
    font-size: 25px;
    border: solid 2px;
    border-radius: 5px;
}
.header_bx .button{
    text-decoration: none;
    color: #000000;
}
.header_bx .button:hover{
    color: #fff;
    background-color: #33332D;
}
.header_bx .logo:hover{
    color: #fff;
    background-color: #33332D;
}
.header_bx span{
    color: rgb(110, 110, 110);
}
.header_bx span:hover{
    color: #fff;
    background-color: #33332D;
}
#arrow{
    color: #000000;
    font-size: 25px;
}
header .header_bx .forward{
    margin: auto;
}
#arrow-right-up{
    color: #000000;
    font-size: 25px;
    float: right;
}

.vid-class{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100wh;
}

#myVideo {
    border-radius: 10px;
    margin: 10px 25px;
    width: 100%; 
    max-width: 100%; 
    height: auto; 
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
}

.level {
    height: 35wh;
    background-color: #1F2833;
    border: 1px solid #ddd;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin-left: 10px;
}
.level h2 {
    font-size: 36px;
    margin-top: 0;
}
.level p#content {
    font-size: 20px;
    margin-bottom: 0;
}
.level a {
    background-color: rgb(9, 106, 166);
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}
.level a:hover {
    filter: brightness(0.9);
}

@media screen and (max-width:900px){
    .level h2 {
        font-size: 30px;
    }
}
@media screen and (max-width:700px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .vid-class{
        margin-left: 150wh;
        margin-right: 150wh;
    }
    .level{
        width: 90%;
        margin: 10px auto;
    }
}
@media screen and (max-width:500px){
    .content{
        width: 90%;
    }
    .vid-class{
        margin: 3vh;
    }
    .level{
        width: 90wh;
        padding: 0px auto;
    }
}