/* Google Font 'Poppins , Robato' */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}
header {
    position: relative;
    width: 100wh;
    height: 100%;
    overflow: hidden;
    margin-top: 20px;
}

header .header_bx {
    position: relative;
    width: 80%;
    height: 100%;
    transition: .3s linear;
    margin: auto;
}
nav{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: var(--logo-color);
    font-size: 25px;
    border: solid 2px;
    border-radius: 5px;
}

body.black nav .logo:hover,
body.black nav span:hover {
    color: var(--logo-color);
    background-color: var(--logo-bg-color);
    cursor: default;
}
nav .logo:hover{
    color: #fff;
    background-color: #33332D;
}
nav span{
    color: rgb(110, 110, 110);
}
nav span:hover{
    color: #fff;
    background-color: #33332D;
}

.menu_hum{
    position: relative;
    display: flex;
    align-items: center;
}
.menu_hum ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_hum ul li{
    position: relative;
    margin-left: 25px;
    padding: 4px 0px;
}
.menu_hum ul li a{
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}
.menu_hum ul li a:hover{
    padding: 0px 2px 0px 2px;
    color: #fff;
    background-color: #33332D;
}
.menu_hum ul li span{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 0%;
    height: 2px;
    border-radius: 50px;
}
.menu_hum #menu_btn {
    font-size: 20px;
    color: var(--logo-color);
    display: none;
    z-index: 9999999999999999999999999999999999;
}
.content{
    width: 100%;
    margin-top: 4rem;
}
.content-with-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto; 
    width: 80%;
}
.content-image::before{
    margin-bottom: 10px;
}
.content-image {
    width: 30vh; 
}
.content h1{
    width: 80%;
    font-size: 54px;
    color: 33332D;
}
.content h2{
    width: 80%;
    font-size: 29px;
}
.content p{
    width: 80%;
    font-size: 18px;
    color: rgb(97, 100, 103);
}
.content .button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 10px;
    border: 2px solid rgb(97, 100, 103);
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s linear;
    background: transparent;
    color: rgb(97, 100, 103);
}

.content .button:hover {
    background: rgb(97, 100, 103);
    color: #fff;
}


section .overview{
    height: auto;
    overflow: hidden;
    margin: auto;
    width: 80%;
}
section .overview h1{
    padding-left: 15px;
    color: var(--text-color);
    font-size: 25px;
    border: solid 2px;
    border-radius: 5px;
}

.black{
    color: black;
    background-color: white;
}
.white{
    color: white;
    background-color: black;
}
body.black #menu_btn{
    color: #fff;
}
header .header_bx #button {
    text-decoration: none;
    font-size: 24px;  
    color: var(--logo-color);
}

.footer-image{
        display: none;
        z-index: 9999999999999999999999999999999999;
}
footer {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    padding: flex;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer h6 {
    font-size: 15px;
    color: #000;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

footer .social a {
    color: rgb(0, 0, 0);
    margin: 0px 5px;
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .social a .bi {
    padding: 7px 10px;
    background: rgb(184, 184, 184, .5);
    border-radius: 50%;
    font-size: 14px;
}

footer h4 {
    margin-top: 5px;
}

footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer ul li {
    margin-right: 10px;
}

footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(130, 130, 130);
    transition: .3s linear;
}

footer ul li a:hover {
    border-radius: 2px;
    background: rgb(97, 100, 103);
    color: #fff;
}

footer p{
    font-size: 10px;
}
/* media queries */

@media screen and (max-width:1180px) {
    header .header_bx {
        width: 90%;
    }
    .content-image {
        width: 30vh; 
    }
    .content h1{
        font-size: 54px;
        color: 33332D;
    }
    section .overview{
        height: auto;
    }
}
@media screen and (max-width:1024px) {
    header .header_bx nav .menu_hum ul li a {
        font-size: 19px;
    }
    .content-image {
        width: 30vh; 
    }
    .content h1{
        font-size: 54px;
        color: 33332D;
    }
    section .overview{
        height: auto;
    }
}

@media screen and (max-width:840px) {
    header .header_bx {
        width: 95%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 13px;
    }
    .content-image{
        opacity: 10%;
        width: 30vh; 
    }
    .content h1{
        width: 150%;
        font-size: 50px;
        color: 33332D;
    }
    section .overview{
        height: auto;
    }
}

@media screen and (max-width:780px) {
    header .header_bx {
        width: 90%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 10px;
    }
    .content-image{
        opacity: 10%;
        width: 35vh; 
    }
    .content h1{
        width: 200%;
        font-size: 50px;
        color: 33332D;
    }
    .content h2{
        width: 150%;
        font-size: 30px;
        color: 33332D;
    }
    .content p {
        width: 180%;
        font-size: 25px;
    }
    .content button{
        margin: auto;
        float: right;
    }
    section .overview{
        height: auto;
    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}
@media screen and (max-width:740px) {
    header .header_bx {
        width: 90%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 10px;
    }
    .content-image{
        opacity: 10%;
        width: 30vh; 

    }
    .content h1{
        width: 140%;
        font-size: 50px;
        color: 33332D;
    }
    .content h2{
        width: 150%;
        font-size: 30px;
        color: 33332D;
    }
    .content p {
        width: 150%;
        font-size: 20px;
    }
    .content button{
        float: left;
    }
    section .overview{
        height: auto;
    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}

@media screen and (max-width:700px) {
header .header_bx nav .menu_hum #menu_btn {
    padding-left: 20px;
    color: var(--logo-color);
    display: flex;
    cursor: pointer;
    font-size: 30px;
}
header .header_bx nav .menu_hum ul {
    flex-direction: column;
    position: absolute;
    top: -300px;
    right: 200%;
    width: 160px;
    background: #2d3133;
    border-radius: 10px;
    z-index: 9999999999999;
    transition: 0.2s linear;
}

header .header_bx nav .menu_hum ul li a:hover{
    padding: 0px 2px 0px 2px;
    color: #33332D;
    background-color: #fff;
}
header .header_bx nav .menu_hum ul li {
    padding: 10px 5px;
}
/* javascript class start  */
header .header_bx nav .menu_hum .ul_active {
    top: 50px;
}
header .header_bx nav .menu_hum ul li a{
    color: #fff;
    font-size: 18px;
}
section .overview{
    height: auto;
}
}

@media screen and (max-width:540px) {
    header .header_bx {
        width: 90%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 10px;
    }
    header .header_bx nav .menu_hum ul {
        right: 80%;
    }
    .content-image{
        opacity: 10%;
        width: 20vh; 

    }
    .content h1{
        width: 110%;
        font-size: 40px;
        color: 33332D;
    }
    .content h2{
        width: 120%;
        font-size: 20px;
        color: 33332D;
    }
    .content p {
        width: 150%;
        font-size: 20px;
    }
    .content button{
        float: right;
    }
    section .overview{
        height: auto;
    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}


@media screen and (max-width:425px) {
    header .header_bx {
        width: 95%;
    }
    header .header_bx nav {
        margin: auto;
 
    }
    header .header_bx nav .menu_hum ul {
        right: 80%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 15px;
    }

    .content-image{
        opacity: 10%;
        width: 22vh; 
        margin: auto;
        float: left;
        justify-content: center;

    }
    .content h1{
        width: 120%;
        font-size: 35px;
        color: 33332D;
    }
    .content h2{
        width: 120%;
        font-size: 20px;
        color: 33332D;
    }
    .content p {
        width: 130%;
        font-size: 20px;
    }
    .content button{
        float: left;
    }
    section .overview{
        height: auto;
    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}

@media screen and (max-width:375px) {
    header .header_bx {
        width: 90%;
    }
    header .header_bx nav .menu_hum ul {
        right: 80%;
    }
    header .header_bx nav .menu_hum ul li {
        margin-left: 10px;
    }
    .content-image{
        opacity: 10%;
        width: 22vh; 

    }
    .content h1{
        width: 120%;
        font-size: 35px;
        color: 33332D;
    }
    .content h2{
        width: 120%;
        font-size: 20px;
        color: 33332D;
    }
    .content p {
        width: 100%;
        font-size: 20px;
    }
    .content button{
        float: left;
    }
    section .overview{
        height: auto;

    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}
@media screen and (max-width:360px) {
    header .header_bx {
        width: 90%;
    }

    header .header_bx nav .menu_hum ul {
        right: 100%;
    }
    .content-image{
        opacity: 10%;
        width: 22vh; 

    }
    .content h1{
        width: 80%;
        font-size: 35px;
        color: 33332D;
    }
    .content h2{
        width: 120%;
        font-size: 20px;
        color: 33332D;
    }
    .content p {
        width: 100%;
        font-size: 20px;
    }
    .content button{
        float: left;
    }
    section .overview{
        height: auto;

    }
    section .overview h1{
        font-size: 23px;
    }
    section .overview p{
        font-size: 20px;
    }
}